<!-- assets/js/create-post/templates/create -->

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Заголовок</label>
            <input data-eid="title" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Текст</label>
            <textarea data-eid="text" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>
</div>